/* CSS Document */

/*logo 和 menu 不使用 relative 的原因是，relative 會保有原始物件的位置
而 logo 和 menu 加起來高度超出一頁高度，所以會出現捲軸，即使捲了沒東西 */

#logo {
	position: absolute;
	top: -70px; /*-70*/
	left: -150px; /*-150*/
}

#menuMain {
	position: absolute;
	top: 310px; /*340*/
	left: 105px; /*295*/
}

#menuMainR {
	position: absolute;
	border-spacing: 1px 8px;
}
#menuMainL {
	position: relative;
	left: -125px;
	border-spacing: 1px 8px;
}


/********** 字體 **********/
.menu {
	font-family:"lithos Pro Regular";
	color: rgba(255,255,255,0.8); text-shadow: 0px 0px 15px rgba(255,255,255,1); text-decoration:none;
}
.menu A:link {color: rgba(255,255,255,0.8); text-shadow: 0px 0px 10px rgba(255,255,255,1); text-decoration:none; }
.menu A:visited {color: rgba(255,255,255,0.8); text-shadow: 0px 0px 10px rgba(255,255,255,1); text-decoration: none; }
.menu A:active {color: rgba(187,243,255,0.8); text-shadow: 0px 0px 30px rgba(255,255,255,1); }
.menu A:hover {color: rgba(187,243,255,0.8); position:relative; top:1px; left:1px; }

.c3 { color:#666; font-size:12px; font-family:"新細明體"; }
.c3 A:link {color:#666; text-decoration:none; }
.c3 A:visited {color:#666; text-decoration: none; }
.c3 A:active {color:#999; }
.c3 A:hover {color:#999; }