@charset "utf-8";
/* CSS Document */

/* 整體設置*/ 
.navigation {
	margin:0; 
	padding:0;
/*	width:1000px;*/
	list-style-type:none; 
	font-size:13px; /*選單第二層*/
	}
 
.navigation li {
	float:left; 
    padding:0; 
	margin:0 10px 0 0; 
	_margin:0 2px 0 0; 
/*	width:150px;*/
	}
 
/* 設置選單區塊*/
.navigation li dl { 
/*	width:100px;/*ie6*/
    margin:0; 
/*	padding:0;*/
	padding-left:10px;
	padding-right:10px;
/*	background-color:#fff;*/
/*	border:solid 2px #666; */
	}
 
.navigation li dt a , .navigation li dd a{ display:block;}
 
 
/* 設置主選單dt */
.navigation li dt {
	margin:0;
	padding: 5px;
	text-align:center;
/*	background-color:#fff;	*/
	font-size: 14px; /*選單第一層*/
	height:10px;
	overflow:hidden;
	}
 
.navigation li dt a ,.navigation  li dt a:visited {
	display:block; 
    text-decoration:none;
	}
 
/* 設置子選單dd */
.navigation li dd { 
	margin:0; 
    padding:0; 
/*	background-color:#efefef;*/
/*	border-bottom:dotted 1px #666;*/
	}
 
.navigation li dd.last {
	border-bottom:0;
	}	
 
.navigation li dd a, .navigation  li dd a:visited {
	display:block; 
    text-decoration:none; 
/*	padding:4px 5px 4px 20px; /*上右下左*/
	padding:2px 5px 0px 20px; /*上右下左*/
    }
 
 
/*隱藏子選單*/
.navigation li dd { display:none;}
 
 
/* 滑鼠滑入顯示子選單 */
.navigation li:hover dd, .navigation li a:hover dd { display:block;}
 
/*ie6 hack*/
.navigation li:hover,.navigation li a:hover { border:0;}
.navigation table { border-collapse:collapse; 
    padding:0; 		
	text-align:left;
	}